name: Trigger Azure DevOps on Release

on:
  release:
    types: [published, created, prereleased]  # cualquier tipo de release

jobs:
  trigger-azure-devops:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Azure DevOps Pipeline
        env:
          AZ_ORG: ${{ vars.AZURE_DEVOPS_ORG }}
          AZ_PROJECT: ${{ vars.AZURE_DEVOPS_PROJECT }}
          AZ_PIPELINE: ${{ vars.AZURE_DEVOPS_PIPELINE_ID }}
          AZ_PAT: ${{ secrets.AZURE_DEVOPS_PAT }}
        run: |
          curl -u ":$AZ_PAT" \
            -X POST \
            -H "Content-Type: application/json" \
            -d '{"resources": {"repositories": {"self": {"refName": "refs/heads/main"}}}}' \
            "https://dev.azure.com/$AZ_ORG/$AZ_PROJECT/_apis/pipelines/$AZ_PIPELINE/runs?api-version=7.1-preview.1"
