name: Trigger Azure DevOps Pipeline on Release

on:
  release:
    types: [published]

jobs:
  trigger-azure-devops:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Azure DevOps pipeline
        run: |
          curl -u ":${{ secrets.AZURE_DEVOPS_PAT }}" \
            -X POST \
            -H "Content-Type: application/json" \
            -d '{"resources": {"repositories": {"self": {"refName": "refs/heads/main"}}}}' \
            "https://dev.azure.com/${{ secrets.AZURE_DEVOPS_ORG }}/${{ secrets.AZURE_DEVOPS_PROJECT }}/_apis/pipelines/${{ secrets.AZURE_DEVOPS_PIPELINE_ID }}/runs?api-version=7.1-preview.1"
